# Program File
MKPA
*.txt

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Visual Studio Files
/Debug
MultipleKinectsPlatformServer.sdf
MultipleKinectsPlatformServer.v11.suo
MultipleKinectsPlatformServer.vcxproj
MultipleKinectsPlatformServer.opensdf
MultipleKinectsPlatformServer.rc
MultipleKinectsPlatformServer.aps
MultipleKinectsPlatformServer.sln
MultipleKinectsPlatformServer.vcxproj.user

# Eclipse Files
.cproject
.project
.settings/

# GNU Make Files
/Build (GNU)

.project
.cproject
