body {
    padding-top: 50px;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

#canvas-container-0 > canvas,
#canvas-container-1 > canvas{
    border:1px solid black;

}

#canvas-container-1 {
    margin-left: 10px;
}